//Colors
@import 'client_colors.scss';
//Fonts
// @include google-font ('Raleway', '400,600,700');
// $font_client:  'Raleway', sans-serif;
//Mixins Border-radius
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
//Mixins Vertical-align
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#current-password,
#cardioPassado {
  .modal-dialog {
    @include vertical-align ();
  }
}
//Mixins Placeholder
@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
//Placeholder
::-webkit-input-placeholder { /* Chrome/Opera/Safari */  
  font-size: 1.03rem;  
  text-align: center;
  color: $white !important;
  // font-family: $font_client;   
}
::-moz-placeholder { /* Firefox 19+ */  
  font-size: 1.03rem;
  text-align: center;
  color: $white !important;
  // font-family: $font_client;  
}
:-ms-input-placeholder { /* IE 10+ */  
  font-size: 1.03rem;
  text-align: center;
  color: $white !important;
  // font-family: $font_client;  
}
:-moz-placeholder { /* Firefox 18- */  
  font-size: 1.03rem;
  text-align: center;
  color: $white !important;
  // font-family: $font_client;  
}
@mixin btn-default-client {
  color: $white;
  background-color: $blue;
  border: 1px solid $blue;

  padding: 6px 30px;
  margin: 10px 0;
  transition: 0.3s;
  &:hover {
    border-color: $white;
    transition: 0.3s;
  }
}
@keyframes pulse {
  10% {transform: scale(1.1)}  
}
*,
html,
body {
}
body {
  // font-family: $font_client;
  font-family: 'Raleway', sans-serif;
  background-image: url('../images/bg-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: top left;
}

header {
  padding: 20px 0;
  text-align: center;
  &.home,
  &.internal {
    figure { 
      margin-top: 80px;
      figcaption {
        color: $white;
        margin-top: 15px;
        font-size: 1.09rem;
      }  
    }  
  }
  &.internal {
    figure {
      margin-top: 35px;
      margin-bottom: 30px;
    }
    h2 {
      color: $white;
      font-weight: normal;
      font-size: 1.09rem;
    }
  }
}

.formClient {
  &.login {
    margin-top: 35px;
  }
  &.register {
    margin-top: 10px;
  }
  p {
    text-align: center;
    color: $white;
  }
  .input-group-prepend {
    margin-right: 0;
    .input-group-text{
      background-color: $white-5;
      border: 0;      
      @include border-radius (0px);          
    }
  }
  input {
    background-color: $white-5;
    border: 1px solid $white-5;
    @include border-radius (0px);  
    color: $white;              
    &:focus {
      color: $white;
      background-color: $blue-25 !important;
      border-color: $white !important;
      outline: 0;
      box-shadow: 0;
    }    
  } 
  .btnClient {
    width: 100%;
    @include btn-default-client();
    @include border-radius (0px);  
    margin: 0px;
    font-weight: bolder;
    &.fb{      
      margin-bottom: 18px;
      background: $blue-fb;
      border-color: $blue-fb;
    }
    &.go{
      margin-bottom: 18px;
      background: $red-go;
      border-color: $red-go;
    }
  }  
  .btSmall {
    color: $white;
    font-size: 0.8rem;
    text-decoration: underline;
  }
  .bootstrap-select {
    .btn-light {
      background-color: $white-5;
      border: 1px solid transparent;
      @include border-radius (0px);  
      color: $white;            
      padding-left: 7px; 
      &:focus,
      &.focus {
        color: $white;
        background-color: $blue-25 !important;
        border-color: $white-5 !important;        
        outline: 0 !important;
        outline-offset: 0 !important;
        box-shadow: 0 !important;
      }    
      &:after {
        position: absolute;
        right: 0px;
        top: 0px;
        background: $blue;
        border: 0;
        width: 30px;
        height: 36px;
        margin-bottom: 0;
      }    
    }
  }
}
@keyframes spinner {
  to {transform: rotate(360deg);}
}
.loader {
  text-align: center;
  color: $white;
  @include vertical-align ();
  .spinner {
    position: relative;
    width: 182px;
    height: 182px;
    margin-left: auto;
    margin-right: auto;
    background: $blue;
    border-radius: 50%;
    z-index: 1;
    &.conectDisp {
      background-image: url('../images/st-1.png');
      background-position: 40px 40px;
      background-repeat: no-repeat;
      background-size: 80px 55px;
      &:after {
        content: 'Conectando com o dispositivo';
        text-align: center;        
        width: 142px;
        font-size: 0.9rem;
        top: 99px;
        left: 20px;
        position: absolute;
      }
    }
    &.dispConect {
      background-image: url('../images/st-2.png');
      background-position: center 50px;
      background-repeat: no-repeat;
      background-size: 39px 55px;
      &:after {
        content: 'Conectado';
        text-align: center;        
        width: 142px;
        font-size: 0.9rem;
        top: 109px;
        left: 20px;
        position: absolute;
      }
    }
    &.loadData {
      background-image: url('../images/st-3.png');
      background-position: 45px 45px;
      background-repeat: no-repeat;
      background-size: 85px 45px;
      &:after {
        content: 'Carregando dados do usuário';
        text-align: center;        
        width: 142px;
        font-size: 0.9rem;
        top: 89px;
        left: 20px;
        position: absolute;
      }
    }
    &.loadFinish {
      background-image: url('../images/st-4.png');
      background-position: 45px 45px;
      background-repeat: no-repeat;
      background-size: 100px 45px;
      &:after {
        content: 'Carregamento Concluído';
        text-align: center;        
        width: 142px;
        font-size: 0.9rem;
        top: 89px;
        left: 20px;
        position: absolute;
      }
      &:before {
        border-top-color: $white !important;
      }
    }

    &:before {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 0;    
      left: 0;
      right: 0;
      width: 200px;
      height: 200px;
      margin-top: -8px;
      margin-left: -8px;
      border-radius: 50%;
      background: transparent;
      border: 16px solid $white;
      border-top-color: transparent;
      animation: spinner 5.0s linear infinite;
    }  
  }
}
.cardio {
  background: $white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  .grafic {
    background: $black-2;
    text-align: center;
    z-index: 1;
    position: relative;
    max-height: 279px;
    img {      
      width: auto;
      max-height: 279px;
    }
  }
  .dataGrafic {    
    background: $gray;
    color: $white;
    padding: 10px; 
    .f-bpm {
      &:before {
        content: '';
        margin-right: 5px;
        width: 18px;
        height: 23px;
        display: inline-block;        
        background: url('../images/ico-fibrilacao.png') no-repeat;
        background-position: center bottom;
        background-size: 15px auto;
        animation:pulse 1s infinite;    
      }
    }   
  }  
  .navCardio {
    width: 100%;
    position: absolute;
    background: $black-62;
    text-align: right;
    padding: 10px 20px;
    z-index: 2;      
    .btnCalendar {
      color: $gray;
      &:hover {
        text-decoration: none;
      }
      &:before {
        content: '<<<';
        margin-right: 5px;   
      }
      &:after {
        content: ' | ';
        margin: 0 8px;
      }
    }
    .btnAtual {
      color: $blue-2;
    }
  }
  .footerCardio {
    padding: 40px 0;
  }
  .btnClient {   
    @include btn-default-client();
    @include border-radius (0px);  
  }
}
.modal-dialog {
  margin: 0 auto;
  @include vertical-align ();
  .modal-content {
    max-width: 358px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    @include border-radius (0px);  
    &.recover {
      padding: 15px 20px;
      border-bottom: 10px solid $blue;
      input {
        border: 1px solid $gray;
        @include border-radius (0px);                                  
        &::-webkit-input-placeholder {color: $black!important;}
      }
    } 
  }
}
.calendar {
  // font-family: $font_client;  
  padding: 0;
  max-width: 358px;
  header {
    padding: 0;
    height: 40px;
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: capitalize;
    color: $black !important;
    background: #f8f8f8 !important;
    .button {
      background: transparent !important;
    }
  }
  table {
    text-align: center;    
    thead {
      th {
        color: $black;
      }
    }
    td {
      width: 42px;
      height: 42px;      
      border: 0;       
    }
  }
  .today {    
    background: transparent !important;
    color: $blue !important;
    position: relative;
    z-index: 3;
    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 10px;
      background: transparent !important;      
      width: 32px;
      height: 32px;      
      z-index: -1;
      border: 1px solid $blue;
      @include border-radius (100px);  
    }
  }
  .selected {
    background: transparent !important;
      color: $white !important;
      position: relative;
      z-index: 3;
    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 10px;
      background: $blue !important;      
      width: 32px;
      height: 32px;      
      z-index: -1;      
      @include border-radius (100px);  
    }
  }
}
input {
  &.user {
    position: relative;
    z-index: 1;
    &:after {
      z-index: 2;
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      background: red;
      top: 0;
      left: 0;
    }
  }
}