//Colors
$red-go   : #9e0b0f;
$blue     : #0293c4; 
$blue-2   : #0ce7f5; 

$blue-25  : rgba(2, 147, 196, 0.25);
$blue-fb  : #4e6bad; 
$gray	  : #909090;	
$black    : #000000;
$black-2  : #1a1a1a;
$black-62 : rgba(0, 0, 0, 0.62);
$white    : #ffffff;
$white-5  : rgba(255,255,255, 0.5);
